body{
    background-image: url(https://i.pinimg.com/originals/fa/08/b8/fa08b8026027018dd369e08f764d5f83.jpg);
    background-position: center center;
    background-size: cover;
    height: 100vh;
}
img{
    width: 200px;
    height: 200px;
    margin-top: 30px;
   
}
.carta{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px;
    height: 250px;
    width: 200px;
  
    
}
a{
    width: 200px;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
